<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
     <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  
 </head>
  <body ng-app="" ng-controller="linkedinController" style="margin-top: -50px;margin-left: -50px;margin-right: -50px;">
  
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="/stylesheets/download.gif" style="margin-left: 150px;margin-top: 7px;">
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/successLogin">Home</a></li>
        <li><a href="/createProfile">Create Profile</a></li>
        <li><a href="/connect">Connect</a></li>
        <li><a href="/invitation">Invitation</a></li>
        <li><a href="/signout">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
            <form name="myForm">
                      <div class="container" style="margin-bottom: 30px">
                         <center><legend style="font-style: 30px;">Personal Details</legend></center>
                           <div class="row" style="margin-left: 20px;">
                            <div>
                             FirstName: <%= firstname%>
                             <span ng-click="inputFirstName()" class="glyphicon glyphicon-pencil" ></span>
                              <p ng-hide="inputfirstname">
                                    <input ng-model="inputFirstName" class="form-control" type="text" placeholder="" name="inputFirstName" style="">
                              </p>
                          </div><br><br>
                          <div>
                             LastName: <%= lastname%>
                             <span ng-click="inputLastName()" class="glyphicon glyphicon-pencil" ></span>
                              <p ng-hide="inputlastname">
                                     <input ng-model="inputLastName" class="form-control" type="text" placeholder="" name="inputLastName" style="">
                              </p>
                          </div><br><br>
                             <div>
                            Email: <%= email%>
                             <span ng-click="inputEmailAddress()" class="glyphicon glyphicon-pencil" ></span>
                              <p ng-hide="inputemailaddress">
                                     <input ng-model="inputEmailAddress" class="form-control" type="email" placeholder="" name="inputEmailAddress" style="">
                              </p>
                          </div><br><br>
                            <div>
                              Summary: <%= summary%>
                             <span ng-click="userSummary()" class="glyphicon glyphicon-pencil" ></span>
                              <p ng-hide="summary">
                                     <textarea ng-model="userSummary" name="userSummary" class="field span5" rows="5" value="userSummary" 
                                     style="padding-right: 500px;"></textarea>
                              </p>
                            </div><br><br>
                              <div class="col-md-8">
                                <input type="button" ng-click="saveSummary()" class="btn btn-primary" value="Save Changes" style="margin-left:-15px">
                                <span></span>
                                <input type="reset" class="btn btn-default" value="Cancel">
                              </div>
                          </div><br><br>
                        </div><br>

                    <div class="container" style="margin-bottom: 30px">
                             <center><legend style="font-style: 30px;">Experience</legend></center>

                          <div class="row" style="margin-left: 20px;">
                             <div>
                              Company Name: <%= companyname%>
                                <span ng-click="companyName()" class="glyphicon glyphicon-pencil" ></span>
                                  <p ng-hide="companyname">
                                        <input type="text" ng-model="companyName" name="companyName" id="compamyName"placeholder="" class="form-control" >
                                  </p>
                              </div><br><br>
                            <div>
                              Title: <%= title %>
                               <span ng-click="inputTitle()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="inputtitle">
                                    <input type="text" ng-model="inputTitle" name="inputTitle" placeholder="" class="form-control">
                                </p>
                              </div><br><br>
                            <div>
                             Location: <%= location %>
                               <span ng-click="inputLocation()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="inputlocation">
                                   <input type="text" ng-model="inputLocation" name="inputLocation" placeholder="" class="form-control">
                                </p>
                              </div><br><br>
                             <div>
                              Start Date: <%= startdate %>
                               <span ng-click="startDate()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="startdate">
                                       <input type="date" ng-model="startDate" name="startdate" placeholder="" class="form-control">
                                </p>
                             </div><br><br>
                             <div>
                              End Date: <%= enddate %>
                               <span ng-click="endDate()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="enddate">
                                       <input type="date" ng-model="endDate" name="enddate" placeholder="" class="form-control">
                                </p>
                             </div><br><br>
                             <div>
                              Description: <%= description %>
                                <span ng-click="inputDescription()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="inputdescription">
                                       <textarea class="field span5"  ng-model="inputDescription" name="inputDescription" rows="5" id="comment" 
                                 style="margin-top: 20px;padding-right: 400px;"></textarea>
                                </p>
                              </div><br><br>
                             <div>
                                <input type="button" ng-click="saveExperience()" class="btn btn-primary" value="Save Changes" style="margin-left:-15px">
                                <span></span>
                                <input type="reset" class="btn btn-default" value="Cancel">
                              </div><br><br>
                              </div>
                            </div>

                       <div class="container" style="margin-bottom: 30px">
                            <center><legend style="font-style: 30px;">Education</legend></center>
                          <div class="row" style="margin-left: 20px;">
                              <div>
                               School: <%= univ %>
                               <span ng-click="inputSchool()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="inputschool">
                                        <input type="text" ng-model="inputSchool" name="inputSchool" placeholder="" class="form-control">
                                </p>
                              </div><br><br>
                              <div>
                               Field: <%= field %>
                                <span ng-click="inputField()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="inputfield">
                                       <input type="text" ng-model="inputField" name="inputField" placeholder="" class="form-control">
                                </p>
                                </div><br><br>
                               <div>
                               Degree Level: <%= level %>
                                <span ng-click="inputLevel()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="inputlevel">
                                      <input type="text" ng-model="inputLevel" name="level" placeholder="" class="form-control">
                                </p>
                                </div><br><br>
                             <div>
                               Grade: <%= grade %>
                                <span ng-click="inputGrade()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="inputgrade">
                                      <input type="text" ng-model="inputGrade" name="inputGrade" placeholder="" class="form-control">
                                </p>
                              </div><br><br>
                              <div>
                               Start Date: <%= startdate1 %>
                               <span ng-click="startDate1()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="startdate1">
                                        <input type="date" ng-model="startDate1" name="startdate1" placeholder="" class="form-control">
                                </p>
                             </div><br><br>
                            <div>
                              End Date: <%= enddate1 %>
                               <span ng-click="endDate1()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="enddate1">
                                      <input type="date" ng-model="endDate1" name="enddate1" placeholder="" class="form-control">
                                </p>
                             </div><br><br>
                              <div>
                               Description: <%= dp %>
                                <span ng-click="DP()" class="glyphicon glyphicon-pencil" ></span>
                                <p ng-hide="descp">
                                       <textarea class="field span5" ng-model="dP" name="dp" rows="5" id="comment" 
                                 style="margin-top: 20px;padding-right: 400px;"></textarea>
                                </p>
                              </div><br><br>
                             <div>
                                <input type="button" ng-click="saveEducation()" class="btn btn-primary" value="Save Changes" style="margin-left:-15px">
                                <span></span>
                                <input type="reset" class="btn btn-default" value="Cancel">
                              </div><br><br>
                          </div>
                        </div>
                        <div class="container" style="margin-bottom: 30px">
                         <center><legend style="font-style: 30px;">Skills</legend></center>
                           <div class="row" style="margin-left: 20px;">
                            
                          </div><br><br>
                        </div><br>
                  </form>
        <script>
        function linkedinController($scope,$http,$location) {
           
            $scope.inputlastname = false;
            $scope.inputfirstname = false;
            $scope.inputemailaddress = true;
            $scope.summary = false;
            $scope.companyname = false;
            $scope.inputtitle = false;
            $scope.inputlocation = false;
            $scope.startdate = false;
            $scope.enddate = false;
            $scope.inputdescription = false;
            $scope.inputschool = false;
            $scope.inputfield = false;
            $scope.inputlevel = false;
            $scope.inputgrade = false;
            $scope.startdate1 = false;
            $scope.enddate1 = false;
            $scope.descp = true;

            $scope.inputFirstName = function() {
                $scope.inputfirstname = !$scope.inputfirstname;
            };
            $scope.inputLastName = function() {
                $scope.inputlastname = !$scope.inputlastname;
            };
            $scope.inputEmailAddress = function() {
                $scope.inputemailaddress = !$scope.inputemailaddress;
            };
            $scope.userSummary = function() {
                $scope.summary = !$scope.summary;
            };
             $scope.companyName = function() {
                $scope.companyname = !$scope.companyname;
            };
             $scope.inputTitle = function() {
                $scope.inputtitle = !$scope.inputtitle;
            };
             $scope.inputLocation = function() {
                $scope.inputlocation = !$scope.inputlocation;
            };
             $scope.startDate = function() {
                $scope.startdate = !$scope.startdate;
            };
             $scope.endDate = function() {
                $scope.enddate = !$scope.enddate;
            };
             $scope.inputDescription = function() {
                $scope.inputdescription = !$scope.inputdescription;
            };
             $scope.inputSchool = function() {
                $scope.inputschool = !$scope.inputschool;
            };
             $scope.inputField = function() {
                $scope.inputfield = !$scope.inputfield;
            };
             $scope.inputLevel = function() {
                $scope.inputlevel = !$scope.inputlevel;
            };
             $scope.inputGrade = function() {
                $scope.inputgrade = !$scope.inputgrade;
            };
             $scope.startDate1 = function() {
                $scope.startdate1 = !$scope.startdate1;
            };
             $scope.endDate1 = function() {
                $scope.enddate1 = !$scope.enddate1;
            };
             $scope.DP = function() {
                $scope.descp = !$scope.descp;
            };

             $scope.saveSummary = function() {
                  $http({
                        method: 'POST',
                        url: '/viewSummary',
                        data: { 
                                "firstname": $scope.inputFirstName,
                                "lastname": $scope.inputLastName, 
                                "email": $scope.inputEmailAddress,
                                "userSummary": $scope.userSummary,
                                
                              }
                        
                     }).success(function(response){
                       
                        alert(JSON.stringify(response));
                        
                        if(response.save == "Success")
                          window.location = '/viewProfile';
                        else
                          window.location = '/viewProfile';
                    }).error(function(error){
                        alert("error");
                    });
                };
               
               $scope.saveEducation = function() {
                  $http({
                        method: 'POST',
                        url: '/viewEducation',
                        data: { 
                                
                                "school": $scope.inputSchool,
                                "field": $scope.inputField,
                                "grade": $scope.inputGrade,
                                "startdate1": $scope.startDate1,
                                "enddate1": $scope.endDate1,
                                "dp": $scope.dP,
                                "level": $scope.inputLevel
                              }
                        
                     }).success(function(response){
                       
                        alert(JSON.stringify(response));
                        
                        if(response.save == "Success")
                          window.location = '/viewProfile';
                        else
                          window.location = '/viewProfile';
                    }).error(function(error){
                        alert("error");
                    });
                };

                $scope.saveExperience = function() {
                  $http({
                        method: 'POST',
                        url: '/viewExperience',
                        data: { 
                                
                                "companyName": $scope.companyName, 
                                "title": $scope.inputTitle,
                                "location": $scope.inputLocation,
                                "startdate": $scope.startDate,
                                "enddate": $scope.endDate,
                                "description": $scope.inputDescription,
                                
                              }
                        
                     }).success(function(response){
                       
                        alert(JSON.stringify(response));
                        
                        if(response.save == "Success")
                          window.location = '/viewProfile';
                        else
                          window.location = '/viewProfile';
                    }).error(function(error){
                        alert("error");
                    });
                }; 
        }
        </script> 
  </body>
</html>